html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: #5DA7DB;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 5px;
  }
  
  .material-symbols-outlined {
    font-size: 100px;
    position: relative;
    padding-left: 80px;
    padding-left: 108px;
    color: #fff
  }
  
  .login-box h3 {
    text-align: center;
    padding: 0;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 2px;
    font-weight: 400;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input{
    width: 100%;
    padding: 8px 0 8px 5px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
  }
  
  .username {
    margin-bottom: 40px;
  }

  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0 10px 6px;
    font-size: 16px;
    color: lightgrey;
    pointer-events: none;
    transition: .5s;
    font-weight: 500;
  }
  
  .password {
    margin-bottom: 10px;
  }

  .login-box .user-box input:focus ~label,
  .login-box .user-box input:valid ~label {
    top: -32px;
    left: 0;
    color: white;
    font-size: 16px;
  }
  
  .remember {
    font-size: 12px
  }

  .remember-me {
    font-size: 16px;
    margin-top: 30px;
    color: grey;
  }
  
  .login-box form .login-link {
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin-left: 100px;
  margin-top: 20px;
  overflow: hidden;
  letter-spacing: 2px;
  color: white;
  border: 3px solid white;
  padding: 12px 20px;
  box-shadow: 6px 6px 5px #81C6E8;
}
  
  .login-box .login-link:hover {
    background: white;
    color: #5DA7DB;
    border-radius: 2px;
    font-weight: 700;
    /* box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4; */
  }
  
  